h1 {
    background-color: black;
    color: white;
    text-align: center;
}
#searchDiv {
    float: left;
    width: 15%;
    margin-right: 5%;
}
#cityDiv {
    float: right;
    block-size: auto;
    border: groove;
    width: 75%;
    padding-right: 10px;
    height: 300px;
}
.hide {
    visibility: hidden;
}
.future {
    float: left;
    border: groove;
    margin-top: 10px;
    width: 150px;
    height: 300px;
}
#day2 {
    margin-left: 20%;
}
img {
    float: right;
}
.prevBtn{
    padding:10px;
    background-color:black;
    color:white;
    margin-right:10px;
}
.green {
    color: chartreuse;
}
.yellow {
    color: orange;
}
.orange {
    color: red
}
.red {
    color: purple
}